footer{
    display: flex;
    color: #F4A701;
    background-color: #124F6E;
    padding: 0.5rem;
    justify-content: space-between;
    align-content: center;
}

footer a{
    text-decoration: none;
    color: #F4A701;
    align-content: center;
    width: 30%;
}


.footer_links{
    width: 40%;
    text-align: center;
}

.footer_links img{
    width: 2rem;
    filter: invert(70%);
    margin: 0 0.5rem;
}

.footer_date{
    width: 30%;
    text-align: right;
}

@media (min-width: 600px) and (max-width: 1024px)
{
}

@media (min-width: 1024px)
{
    .footer_links img{
        display: none;
    }
} 