.experience_main{
    display: flex;
    flex-direction: column;
}

.experience_article{
    margin: 0 1rem;
}

.experience_article h1,
.experience_article h3,
.experience_article h5{
    margin: 0;
    padding: 0;
}

.experience_article p{
    text-align: justify;
}

.experience_img{
    display: none;
}

@media (min-width: 600px) and (max-width: 1024px)
{
    .experience_article{
        display: flex;
        margin: 1rem;
    }

    .experience_image{
        width: 15%;
    }
    .experience_img{
        display: inline-flex;
        width: 100%;
    }

    .experience_content{
        margin: 0 1rem;
        width: 85%;
    }
}

@media (min-width: 1024px)
{
    .experience_article{
        display: flex;
        margin: 1rem;
    }

    .experience_image{
        width: 15%;
    }
    .experience_img{
        display: inline-flex;
        width: 100%;
    }

    .experience_content{
        margin: 0 1rem;
        width: 85%
    }
} 