.achievements_article{
    margin-top: 0.5rem;
}

.achievements_article:last-child{
    margin-bottom: 0.5rem;
}

.achievements_img{
    width: 100%;
}

.achievements_content{
    padding: 0 1rem;

}

.achievements_content h1, 
.achievements_content h3,
.achievements_content h5{
    margin: 0;
    padding: 0;
}

.achievements_content p{
    padding: 0;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10%;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styled a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 600px) and (max-width: 1024px)
{
    .achievements_article{
        display: flex;
    }

    .achievements_image{
        width: 50%;
    }

    .achievements_img{
        width: 100%;
    }

    .achievements_content{
        width: 50%;
    }
}

@media (min-width: 1024px)
{
    .achievements_article{
        display: flex;
    }

    .achievements_image{
        width: 50%;
    }

    .achievements_img{
        width: 100%;
    }

    .achievements_content{
        width: 50%;
        font-size: 150%;
    }
} 