main{
    padding: 1rem;
    margin-top: 12rem;
}

section img{
    display: none;
}

h1, h2{
    margin: 0;
    padding: 0;
    font-size:90%;
}

p{
    margin: 0;
    padding: 0;
    font-size: 90%;
}

section{
    margin: 2rem 0;
}

.style{
    font-style: italic;
}

a.currentlink,
a.currentlink:hover{
    color: #ff0000;
    font-weight: bold;
}

@media (min-width: 600px) and (max-width: 1024px)
{
    main{
        width: 50rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
        margin-top: 10rem;
    }

    section{
        margin: 4rem 0;
    }
}

@media (min-width: 1024px)
{
    main{
        width: 100rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 180%;
        margin-top: 10rem;
    }

    section{
        margin: 6rem 0;
        display: flex;
    }

    section img{
        display: flex;
        width: 100px;
        height: 100%;
        padding-right: 10rem;
    }
} 