.experienceMain{
    padding: 1rem;
    margin-top: 12rem;
}

.experienceSection img{
    display: none;
}

.experienceArticle h1,
.experienceArticle h2{
    margin: 0;
    padding: 0;
    font-size:90%;
}

.experienceArticle p{
    margin: 0;
    padding: 0;
    font-size: 90%;
}

.experienceSection{
    margin: 2rem 0;
}

a.currentlink,
a.currentlink:hover{
    color: #ff0000;
    font-weight: bold;
}

@media (min-width: 600px) and (max-width: 1024px)
{
    .experienceMain{
        width: 50rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;
        font-size: 140%;
    }

    .experienceSection{
        margin: 4rem 0;
    }
}

@media (min-width: 1024px)
{
    .experienceMain{
        width: 100rem;
        margin-top: 10rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 180%;
    }

    .experienceSection{
        margin: 6rem 0;
        display: flex;
    }

    .experienceSection img{
        display: flex;
        width: 100px;
        height: 100%;
        padding-right: 10rem;
    }
} 