
main{
    padding: 1rem;
    margin: 12rem 0 2rem 0;
    font-size: 90%;
    text-align: center;
}

h1, h2{
    font-size: 90%;
}



img{
    display: none;
}

.weight{
    font-weight: bold;
}

.foreignlanguages p{
    margin-top: 0;
    margin-bottom: 0;
}

a.currentlink,
a.currentlink:hover{
    color: #ff0000;
    font-weight: bold;
}

@media (min-width: 600px) and (max-width: 1024px)
{
    main{
        width: 40rem;
        margin: 10rem auto 5rem auto;
        line-height: 3rem; 
        text-align: center;
        font-size: 120%;
    }

    h1, h2{
        font-size: 120%;
    }
}

@media (min-width: 1024px)
{
    main{
        width: 70rem;
        margin: 10rem auto 5rem auto;
        justify-content: center;
        text-align: center;
        line-height: 4rem;
        margin-top: 10rem;
        font-size: 140%;
    }

    h1, h2{
        font-size: 140%;
    }

    main section:nth-child(2n){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    img{
        display: flex;
        width: 5rem;
        margin: 2rem;
    }

    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article div{
        padding-top: 0.9rem;
    }

    main section:last-child img{
        width: 3rem;
        height: 100%;
        justify-content: center;
    }
} 