.interestsMain{
    padding: 1rem;
    margin-top: 12rem;
}

.interestsSection{
    margin: 2rem 0;
}

.interestsImage{
    display: none;
}

.interestsSection h1{
    font-size:100%;
    text-decoration: underline;
}

.interestsSection h2{
    font-size: 90%;
}

.interestsSection p{
    margin: 0;
    padding: 0;
    font-size: 90%;
    text-align: justify;
}

a.currentlink,
a.currentlink:hover{
    color: #ff0000;
    font-weight: bold;
}

@media (min-width: 600px) and (max-width: 1024px)
{
    .interestsMain{
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
        margin-top: 10rem;
    }

    .interestsSection{
        margin: 4rem 0;
    }

    .interestsSection h1{
        font-size: 120%;
    }
}

@media (min-width: 1024px)
{
    .interestsMain{
        margin-left: auto;
        margin-right: auto;
        font-size: 180%;
        margin-top: 5rem;
    }

    .interestsSection{
        margin: 6rem 0;
        display: flex;
    }

    .interestsImage{
        display: flex;
        padding: 1rem;
    }

    .interestsSection div{
        margin-top: 11rem;
        margin-right: 6rem;
    }

    .interestsSection h1{
        font-size: 120%;
    }

    .interestsSection p{
        padding-right: 5rem;
    }
  
} 