html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    background-color: #124F6E;
    background-image: url(../img/bandeauReseaux.png);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient{
    background: linear-gradient(#ffffff22, #00000022, #00000022);
    box-shadow: 0 1px 0 0 black;
}

header img{
    width: 5rem;
    height: 100%;
    border-radius: 50%;
    margin: 1rem;
    display: none;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.2rem;
    padding: 0.5rem 0;
}

header ul li{
    list-style: none;
    padding: 1rem 0.2rem;
    text-transform: uppercase;
}

header ul li a{
    color: #FFCC00;
    text-decoration: none;
    padding: 0 0.5rem;
}

header ul li a:hover{
    color: #ff9933;
}

header ul li a:active{
    color: #e62e00;
}

@media (min-width: 600px) and (max-width: 1024px)
{
    header{
        font-size: 130%;
    }

    header ul li{
        padding: 1rem 2rem;
    }
}

@media (min-width: 1024px)
{
    header div{
        justify-content: space-between;
        font-size: 150%;
    }

    header img{
        display: flex;
        width: 8rem;
        padding-top: 1rem;
    }

    header ul li{
        padding: 0 2rem;
        justify-content: flex-end;
    }
} 